# Ignore vim temp files
.*.sw[a-z]
*.un~
Session.vim
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/jquery.sparkline.iml
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/node_modules/
